<span class="favorite-header">
  <h1>{{(products | favorite)?(products | favorite).length:0}} Product(s) <span class="amount">- {{favoriteSum(products | favorite) | currency:'SEK'}}</span></h1>
  <button (click)="productService.clearFavorites()">Clear all</button>
</span>

<div class="content">
<app-product
  *ngFor="let product of (products | favorite)"
  [product]="product"
  [favorite]="productService.checkFavorite(product)"
  (changeFavorite)="productService.toggleFavorite(product)"
></app-product>
</div>
